<head>
<meta charset="utf-8">
<title>{%- if page.title == site.title -%}{{ page.title }}{%- else -%}{{ page.title }} | {{ site.title }}{%- endif -%}</title>
<link rel="preload" as="style" type="text/css" href="/assets/css/style.css">
<link rel="preload" as="image" type="image/png" href="/assets/img/header.png">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- FML -->
<!-- Favicons -->
<link rel="icon" type="image/png" href="/assets/img/favicon-16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/img/favicon-32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/favicon-48.png" sizes="48x48">
<!-- iOS -->
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-128.png">
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-167.png" sizes="167x167">
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon-180.png" sizes="180x180">
<!-- Social Meeja -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content={%- if page.description == "" -%}"{{ site.description }}"{%- else -%}"{{ page.description }}"{%- endif -%}>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.base_url }}/{{ page.permalink }}">
<meta property="og:image" content="{{ site.base_url }}/assets/img/meeja.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="{{ site.title }}">
<!-- Search Engines -->
<meta name="description" content={%- if page.description == "" -%}"{{ site.description }}"{%- else -%}"{{ page.description }}"{%- endif -%}>
<!-- Me -->
<link rel="me" href="https://www.dnhome.uk/dave/">
<link rel="me" href="mailto:dave@dnhome.uk">
<link rel="me" href="https://mastodon.social/@ninjaguardsheep">
</head>
